_build/
*.install
*.vbc
*.bin
.DS_Store
build/
generated_emulator/
parsed_emulator/
c_emulator/
archc_emulator/
pydrofoil_emulator/
*.sail.tmp
scratch/
output/
generated_isa/
my_emulator/
vanguard_demo/
*.vanguard
/binaries/corpus_build
/binaries/corpus_build_arm64
binaries/asgard_gpu_math_bridge
*.id*
*.nam
*.til
*.i64
*.html
